/*
 * colors :
 *  * background: #f2fcff
 */
* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background: #f3f3f3;
    color: #131313;
}

.passing {
    color: #29bf00;
}

.warning {
    color: #ff9900;
}

.critical {
    color: #ff2a00;
}

.missing {
    color: #727272;
}

#status {
    height: 40px;
    font-size: .8em;
    padding-right: 5px;
    background: #834d68;
    color: #eee;
}

#status .right {
    float: right;
}

#status .ws {
    line-height: 40px;
    height: 40px;
    width: 120px;
    text-align: center;
}

#status .loader {
    line-height: 40px;
    height: 40px;
    text-align: center;
    padding: 0 5px;
}

#status #loader i {
    line-height: 40px;
    font-size: 1.2em;
}

#status input[type="text"] {
    background: #834d68;
    color: #cfcfcf;
    border: 1px solid #693f54;
}

#status input[type="text"]::placeholder {
    color: #fcb8d4;
}

#status input.filter {
    width: 25%;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    height: 40px;
    line-height: 40px;
    padding: 10px;
}

#status > * {
    display: inline-block;
}

#status .right > * {
    display: inline-block;
}

#time-selector-btn {
    color: #fcb8d4;
    background: transparent;
    margin: 0 10px;
    border-left: 1px solid #693f54;
    border-right: 1px solid #693f54;
    border-top: 0;
    border-bottom: 0;
    height: 40px;
    line-height: 40px;
    min-width: 120px;
}

#time-selector {
    position: fixed;
    top: 40px;
    right: 0;
    width: 400px;
    padding: 1px 10px;
    background: #834d68;
    border-top: 1px solid #693f54;
    color: #eee;
    display: none;
}

#time-selector ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#time-selector ul li {
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #693f54;
    font-size: .8em;
}

#time-selector ul li.title {
    font-weight: bold;
}

#time-selector ul li.active {
    color: #fcb8d4;
}

#time-selector ul li.custom button {
    float: right;
    margin: 0;
    background: transparent;
    border-width: 0;
    border-left-color: #693f54;
    height: 100%;
    color: white;
}

#time-selector ul li[data-val] {
    cursor: pointer;
}

#header {
    background: #a58d99;
    font-size: .8em;
    font-weight: bold;
    white-space: nowrap;
}

#header>* {
    text-align: center;
}

#container {
    overflow-y: scroll;
    font-size: .8em;
    height: calc(100% - 80px);
}

#container.small {
    height: calc(70% - 80px);
}

#back-to-top {
    position: fixed;
    width: 50%;
    top: 80px;
    left: 25%;
    height: 30px;
    line-height: 30px;
    background: #834d68;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    color: white;
    cursor: pointer;
    display: none;
}

#container .row,
#header {
    padding: 0 5px 0;
    height: 40px;
    line-height: 39px;
    min-width: 1280px;
}

#container .row {
    overflow: hidden;
    white-space: nowrap;
    min-width: 830px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

#container .row.message {
    text-align: center;
    background: #b9b9b9;
}

#container .row.even {
    background: #f3f3f3;
}

#container .row.odd {
    background: #eeeeee;
}

#container .row:hover {
    border-top: 1px solid #693f54;
    border-bottom: 1px solid #693f54;
}

#container .row>*,
#header>* {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 39px;
    padding: 0 5px;
}

#container .row .fas {
    display: inline-block;
    width: 15px;
    text-align: center;
}

.time {
    width: 5%;
    min-width: 100px;
}

.node {
    width: 15%;
    min-width: 150px;
}

.service {
    width: 25%;
    min-width: 350px;
}

.check {
    width: 25%;
    min-width: 300px;
}

.check-output {
    width: 30%;
    min-width: 95px;
}

.select-dd {
    position: fixed;
    background: #834d68;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.select-dd li {
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #693f54;
    font-size: .8em;
    cursor: pointer;
}

.select-dd li.selected {
    background: #693f54;
    color: #fcb8d4;
}

#details-pane {
    z-index: 2;
    position: absolute;
    color: white;
    top: calc(70% - 40px);
    bottom: 0;
    right: 0;
    left: 0;
    background : #967083;
    padding: 10px;
    display: none;
    overflow: auto;
}

#details-pane .close {
    float: right;
    cursor: pointer;
}

#details-pane .key {
    font-weight: bold;
    display: inline-block;
    width: 170px;
}

#details-pane li {
    margin-bottom: 5px;
}
